@* Maximiliano De Santiago *@
@model List<Entree>


@{
    ViewData["Title"] = "Food Manager";
}

<h2 style="text-align:center;"><u>Our Website</u></h2>


<p style="text-align:center; font-weight:bold; font-size:30px;"> Hello! This website allows users to input their favorite foods into our database. These foods include the users 
    favorite Entrees, Sides, and Desserts! The user can also enter the date they ate their specifed food as well as a description that may pertain to how the food was prepared or 
    how they enjoyed it! You can also see what previous users have entered  If you would like to learn more about the creators of this website, checkout our "About Us" page where we share a little information about ourselves as well as
    our own personal favorite foods!<br /><br /><br /></p>


<p style="text-align:center;">*To begin entering your own favorite foods, just click on one of our navigation options! ("Desserts", "Entrees", "Sides") </p>

<footer style="text-align:center; padding:3px; background-color:red; color:white;   position:fixed; left:0; bottom:0; width:100%;">
    <p>Creators: Matthew Saling, Colin Maxwell, and Maximiliano De Santiago Galan</p>

</footer>